html,
body,
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.dx-theme-generic .dx-auth-content {
    margin: 0px auto;
    max-width: 500px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}